@font-face { font-family: 'Gotham-Book'; font-weight:200; src: url('font/Gotham-Book.otf'); }
@font-face { font-family: 'Gotham-Light'; font-weight:100; src: url('font/Gotham-Light.otf'); }
@font-face { font-family: 'Gotham-Medium'; font-weight: medium; src: url('font/Gotham-Medium.otf');}

.intro{padding-top: 1rem}

img {
            width: 100%;
            height: auto;
        }

h2 {
    font-family: 'Gotham-Medium';
    font-weight: medium;
    font-size: 2rem;
}

p {
    font-family: 'Gotham-Book';
    font-weight: 200;
    font-size: 1rem;
}

.note {
    font-family: 'Gotham-Book';
    font-size: .84rem;
}

.ChartDiv, .ChartLegend {
  font-family: 'Gotham-Book';
  font-size: .8rem
  /* max-width: 1000px;
  max-height: 400px; */
}

ul {
    padding: 0;
    list-style-type: none;
}


[class="0-legend"], [class="1-legend"] {
  cursor: pointer;
  list-style: none;
  text-align: center;
}
[class="0-legend"] li, [class="1-legend"] li {
  display: inline-block;
  padding: 0 6px;
}
[class="0-legend"] li.hidden, [class="1-legend"] li.hidden {
  text-decoration: line-through;
}
[class="0-legend"] li span, [class="1-legend"] li span {
  display: inline-block;
  height: 10px;
  width: 10px;
}

body{
  margin: 0;
  color: #000000;}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding:1rem 0px 1rem 0px
}
